
/* Font Family*/

$open-sans-regular:  'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;;
/* Font Weight*/
$Regular: 'font-weight: 400';
$Bold: 'font-weight: 700';


/* Font Size*/
$xxxxx-l: 50px;
$xxxx-l: 45px;
$xxx-l: 40px;
$xx-l: 35px;
$x-l: 30px; 
$l: 20px;
$m: 16px;
$s: 14px;
$x-s: 12px;

/* Color*/
$white: #fff;
$platinum: #E8E8E8;
$gray: #BABABA;

$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFAD;

$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

$onix: #333745;
$spanish-gray: #8F9199;
$lavander-gray: #C7C8CC;

$rising-black: #221D23;
$nickel: #726F73;
$silver-choice: #AEACAF;